<template name="row">
  {{#if matching idToEdit item._id}}
    {{>edit}}
  {{else}}
    {{>item}}
  {{/if}}
</template>


<template name="item">
  <tr class='row item'>
    <td class="col-xs-4">
      {{item.itemName}}
    </td>
    <td class="col-xs-4">
      {{item.type}}
    </td>
    <td class="col-xs-2">
      <button id="edit" class="btn btn-small btn-warning full-width">Edit</button>
    </td>
    <td class="col-xs-2">
      <button id="delete" class="btn btn-small btn-danger full-width">Delete</button>
    </td>
  </tr>
</template>


<template name="edit">
  <tr class='row item'>
    <td class="col-xs-4">
      <div class="form-group">
        <input class="form-control full-width edit-name" type="text" value="{{item.itemName}}"/>
      </div>
    </td>
    <td class="col-xs-4">
      <div class="form-group">
        <input class="form-control full-width edit-type" type="text" value="{{item.type}}"/>
      </div>
    </td>
    <td class="col-xs-2">
        <button id="confirm-edit" class="btn btn-small btn-success col-xs-5">O</button>
        <button id="cancel-edit" class="btn btn-small btn-warning  col-xs-5 col-xs-offset-1">X</button>
    </td>
    <td class="col-xs-2">
      <button id="delete" class="btn btn-small btn-danger full-width">Delete</button>
    </td>
  </tr>
</template>
