<template name="edit">
  <tr class='row'>
    <td class="col-xs-4">
      <div class="form-group">
        <input class="form-control full-width" type="text" value="{{item.itemName}}"/>
      </div>
    </td>
    <td class="col-xs-4">
      <div class="form-group">
        <input class="form-control full-width" type="text" value="{{item.type}}"/>
      </div>
    </td>
    <td class="col-xs-2">
        <button id="editConfirm" class="btn btn-small btn-success col-xs-4">O</button>
        <button class="btn btn-small btn-warning .toggle-edit col-xs-4 col-xs-offset-1">X</button>
    </td>
    <td class="col-xs-2">
      <button id="delete" class="btn btn-small btn-danger">Delete</button>
    </td>
  </tr>
</template>
