<template name="edit">
  <tr class='row'>
    <td class="col-xs-4">
      <div class="form-group">
        <input class="form-control full-width" type="text" value="{{item.itemName}}"/>
      </div>
    </td>
    <td class="col-xs-4">
      <div class="form-group">
        <input class="form-control full-width" type="text" value="{{item.type}}"/>
      </div>
    </td>
    <td class="col-xs-2">
      <button id="edit" class="btn btn-small btn-warning">Edit</button>
    </td>
    <td class="col-xs-2">
      <button id="delete" class="btn btn-small btn-danger">Delete</button>
    </td>
  </tr>
</template>
