

<template name='login'>
  <div class="container">
    <div class="col-xs-4 col-xs-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Login
        </div>
        <div class="panel-body">
          <form class="form" id="login">
            <div class="form-group">
              <label>Username</label>
              <input class="form-control" type="text" name="username" placeholder="enter username">
            </div>
            <div class="form-group">
              <label>Password</label>
              <input class="form-control" type="text" name="password" placeholder="enter password">
            </div>
            <div class="form-group">
              <button class="btn btn-primary full-width" type="button" name="submit">Submit</button>
            </div>
          </form>
          <p class="pull-right"><a href="/create-account">create new account</a></p>
        </div>
      </div>
    </div>
  </div>
</template>
